$bg-colour1: #e3b697;
$bg-colour2: #dbf6f1;
$font-color: #52546b;


.hero-section {
    position: relative;
    .hero-header {
      position: absolute;
      top: 1rem;
      font-family: SFTHeavy;
      font-size: 4rem;
      color: $font-color;
      margin: 0 0 0 3rem;
    }
    .hero-table {
      position: absolute;
      top: 7rem;
      margin: 0 0 0 3rem;
      background-color: $bg-colour2;
      width: 90%;
      height: 45rem;
      border-radius: 1rem;
      box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.36);
      overflow-y: auto;
    }
    #hero-table-header1{
      font-size: 2rem;
      font-family: SFTSemiBold;
      padding: 1rem 1rem 1rem 3rem;
      color: $font-color; 
    }
    #hero-table-header3{
      font-size: 2rem;
      font-family: SFTSemiBold;
      padding: 1rem 2rem 1rem 2rem;
      color: $font-color; 
    }
    tr{
      font-size: 1.5rem;
      font-family: SFTLight;
      }
    #table-address{
      padding: 1rem 2rem 1rem 3rem;
      cursor: pointer;
       a{
         color: $font-color;
       }
    }
    .data-completebutton{
      width: 2rem;
      height: 2rem;
      border: 0;
      border-radius: 5px;
      box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.18);
      margin: 0 0 0 6rem;
      &:hover{
        background: #1276e9b8;
       }
     }
  }
  