<div class="row hero-section">
    <h1 class="hero-header">Ongoing</h1>
      <div class="hero-table">
        <table>
          <tr>
            <th id="hero-table-header1">Address</th>
            <th id="hero-table-header3">Mark As Complete</th>
          </tr>
          <tr *ngFor = "let pothole of pothole">
            <td id="table-address">{{pothole.address}}</td>
            <td>
              <button class="data-completebutton" (click)= "OngoingToCompleted(pothole.complaint_id)"></button>
            </td>
          </tr>
        </table>
      </div>
</div>

