<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="banner">
        <h5 class="banner-text">GOA MUNICIPAL CORPORATION</h5>
      </div>

      <div class="logo">
        <img class="logo-image" src="/assets/logoimage.png" />
      </div>
    </div>

    <div class="col-sm-4">
      <form class="form">
        <p class="form-header">ACCOUNT LOGIN</p>
        <div class="form-group">
          <label class="formtext" for="exampleInputEmail1">WARD NO:</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="form-group">
          <label class="formtext" for="exampleInputPassword1">PASSWORD</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div>
        <button type="submit" class="btn btn-primary form-buttom" >
          <a routerLink="/recents">SUBMIT</a>
        </button>
      </form>
    </div>
  </div>
</div>
