@media screen and (max-width: 719px) {
  html {
    font-size: 50%;
  }
  .ward {
    .ward-info {
      margin: 0 17rem 0 0rem;
      padding: 1rem 0rem 30rem 1.5rem !important;
    }
  }
  .ward-btn {
    position: absolute;
    font-family: SFTSemiBold;
    margin: 0 0 1rem 4rem;
  }
  .recent {
    top: 38rem !important;
    padding: 1.5rem 22rem 1.5rem 3rem !important;
  }
  .completed {
    top: 45rem !important;
    padding: 1.5rem 18rem 1.5rem 3rem !important;
  }
  .ongoing {
    top: 52rem !important;
    padding: 1.5rem 20.5rem 1.5rem 3rem !important;
  }
  .hero-section {
    .hero-header {
      top: 60rem;
      margin: 0 0 0 2rem;
    }
  }
}

$bg-colour1: #e3b697;
$bg-colour2: #dbf6f1;
$font-color: #52546b;

.container {
  max-width: 1280px;
  padding: 0 !important;
}
.row {
  padding: 0 !important;
}

.ward {
  position: relative;
  .ward-info {
    position: absolute;
    background-color: $bg-colour1;
    padding: 2rem 0rem 18rem 2rem;
    border-bottom-right-radius: 8rem;
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.36);
    h1 {
      font-family: SFTHeavy;
      font-size: 3rem;
      color: $font-color;
      margin: 0rem 0 3rem 0;
      text-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.36);
    }
    p {
      font-family: SFTSemiBold;
      font-size: 2rem;
      color: $font-color;
      margin: 2rem 0rem;
    }
    span {
      font-family: SFTLight;
      color: $font-color;
      font-size: 2rem;
    }
  }
  .ward-btn {
    position: absolute;
    font-family: SFTSemiBold;
    font-size: 2rem;
    border: 0;
    background-color: rgba($color: #ffd102, $alpha: 0.8);
    border-radius: 1.5rem;
    margin: 0 0 1rem 4rem;
    &:hover {
      background-color: rgba($color: white, $alpha: 1);
    }
  }
  .active{
    background-color: rgba($color: white, $alpha: 1);
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
  }
  .recent {
    top: 31rem;
    padding: 1rem 1rem 1rem 3rem;
    outline: none;
  }
  .completed {
    top: 37rem;
    padding: 1rem 1rem 1rem 3rem;
    outline: none;
  }
  .ongoing {
    top: 43rem;
    padding: 1rem 1rem 1rem 3rem;
    outline: none;
  }
}


