

.chart1{
     margin: 3rem 0rem 0rem 12rem;
}
.chart2{
    margin: 3rem 0rem 0rem 12rem;
}
.chart3{
    margin: 3rem 0rem 0rem 12rem;
}

.chart-header-1{
    font-size: 3rem;
    font-family: SFTHeavy;
    color: #52546b;
}