<div class="row hero-section">
    <h1 class="hero-header">Recents</h1>
      <div class="hero-table">
        
        <table>
           <tr>
             <th id="hero-table-header1">Address</th>
             <th id="hero-table-header2">Image</th>
             <th id="hero-table-header3">No Of Reporters</th>
             <th id="hero-table-header4">Accept/</th>
             <th id="hero-table-header4">Decline</th>
           </tr>
           <tr *ngFor="let pothole of pothole">
             <td>{{pothole.complaint_id}}</td>
             <td>{{pothole.ward_no}}</td>
             <td>{{pothole.no_of_reporters}}</td>
             <td>{{pothole.status}}</td>
             <td>
               <button (click)="passtoapi(pothole.id, pothole.complaint_id, pothole.ward_no, pothole.no_of_reporters, pothole.image)">Yes</button>
             </td>
             <td>
               <button>No</button>
             </td>
             <!-- <td><img src={{pothole.image}}/></td> -->
           </tr>
        </table>
      </div>
</div>


